<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link
      rel="shortcut icon"
      href="/images/icons8-admission-48.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/stylesheets/ripple_btn.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include("navbar") -%>

    <h1>Welcome</h1>
    <a href="/users/?page=1">View content</a>
    <button class="ripple-btn">Effect test</button>
    <script src="/js/ripple.js"></script>
  </body>
</html>
