<body>
    <%- include("navbar") -%>

    <div class="Main">
        <header class="eva-heading">
            <h2 class="eva-heading__title">NEON</h2>
            <h2 class="eva-heading__title">GENESIS</h2>
            <h1 class="eva-heading__title">EVANGELION</h1>
            <h3 class="eva-heading__episode-number">EPISODE: 26</h3>
            <h4 class="eva-heading__episode-title"><a href="/users">View Manga</a> <br />Take care of yourself.</h4>
        </header>
    </div>
</body>
