<body>
    <%- include("navbar") -%>

    <h1>Welcome</h1>
    <a href="/users/?page=1">View content</a>
    >Тут контент
    <form action="upload" method="post">
        <input type="text" />
    </form>
</body>
