<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/navbar.css" />
        <link rel="shortcut icon" href="/images/icons8-admission-48.png" type="image/png" />
        <link rel="stylesheet" href="/stylesheets/ripple_btn.css" />
    </head>
    <body>
        <div class="invisible_menu"></div>
        <div class="navbar">
            <% if(cookies_data.cookies_have) { %>
            <div class="profile">
                <% if(cookies_data.cookies_privilege) {%>
                <form action="/users" method="post">
                    <input type="submit" value="USER LIST" />
                </form>
                <% } %>
                <form action="/exit" method="post">
                    <input type="submit" name="exit" value="exit" class="exit" />
                </form>
            </div>
            <% } else { %>
            <div class="sign_menu">
                <div class="items">
                    <button class="ripple-btn login_btn z">Sign in</button>
                    <button class="ripple-btn registration_btn z">Sign up</button>
                </div>
            </div>
            <button class="ripple-btn slide_btn"></button>
            <div class="registration_menu hidden_menu">
                <form name="reg-form">
                    <input type="text" name="name" id="name_id" class="text_input" autocomplete="off" placeholder="User name" required /> <br />
                    <input type="password" id="password_id" class="text_input" name="password" autocomplete="off" placeholder="Password" required /> <br />
                    <input type="text" id="email_id" class="text_input" name="email" autocomplete="off" placeholder="Email Address" required /><br />
                    <br />
                    <input type="submit" value="regstration" class="text_input" id="submit" onclick="lockout_submit(this)" />
                </form>
            </div>
            <div class="login_menu hidden_menu">
                <form name="log-form">
                    <h1 class="error_sign_in" style="display: none; font-size: 20px; letter-spacing: 4px; padding: 10px; color: red; text-shadow: 0 0 2px #ffffff, 0 0 1.5px #854535, 0 0 1.5px #5c150c;">User name or password are wrong</h1>
                    <input type="text" name="name" class="text_input" placeholder="User name" /> <br />
                    <input type="password" name="password" class="text_input" placeholder="Password" /> <br />
                    <br />
                    <input type="submit" value="login" id="sign_in_submit" onclick="lockout_submit(this)" />
                </form>
            </div>
            <!-- action="req-page-progress" method="post" -->
            <% } %>
        </div>
        <script src="/js/registration.js"></script>
        <script src="/js/menus.js"></script>
        <script src="/js/ripple.js"></script>
    </body>
</html>
