<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
    <form action="registration-process" method="post">
        <input type="text" name="name" class="text-input"> <br>
        <input type="password" name="password" class="text-input"> <br>
        <input type="submit" value="regstration">
    </form>
</body>

</html>