<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
    <form name="reg-form">
        <div class="error" id="error">
            <p id="error_text"></p>
        </div>
        <input type="text" name="name" class="text_input" id="name" placeholder="User name"><label for="name"
            id="name_label"></label>
        <br>
        <input type="password" name="password" class="text_input" placeholder="Password"><label for="password"
            id="password_label"></label> <br>
        <input type="submit" value="regstration" id="submit" onclick="lockoutSubmit(this)">
    </form>
    <script>
        document.getElementById("submit").addEventListener("click", (e) => {
            e.preventDefault();
            let name_label = document.getElementById("name_label");
            let password_label = document.getElementById("password_label");
            let visible_text = document.getElementById("error");
            let registration = document.forms["reg-form"];
            let name = registration.elements["name"].value;
            let password = registration.elements["password"].value;
            if (name === "" || password === "") {
                visible_text.innerHTML = "u have empty fields"
                visible_text.style.height = "30px";
            } else {
                visible_text.style.height = "0px";
            }
            if (name.length < 3) {
                name_label.innerHTML =
                    "user name cannot be shorter than three characters"
            }
            if (password.length < 6) {
                password_label.innerHTML = "password cannot be shorter than six characters"
            } else {
                let user = JSON.stringify({
                    name: name,
                    password: password
                });
                let request = new XMLHttpRequest();
                request.open("POST", "/registration-process", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.addEventListener("load", () => {
                    let received_user = request.response;
                    received_user = (received_user === "true");
                    if (!Boolean(received_user)) {
                        window.location.href = "/login";
                    } else {
                        visible_text.innerHTML = "this user exists"
                        visible_text.style.height = "30px";
                    }

                });
                request.send(user);
            }
        })

        function lockoutSubmit(button) {
            var oldValue = button.value;

            button.setAttribute('disabled', true);
            button.value = 'Processing';

            setTimeout(function () {
                button.value = oldValue;
                button.removeAttribute('disabled');
            }, 3000)
        }
    </script>
</body>

</html>