<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <img src="/images/<%= content[0].folder_name %>/<%= content[0].folder_content[0] %>" alt="" />
        <form action="upload/" method="post">
            <input type="text" name="folder_name" />
            <input type="file" name="folder_content" webkitdirectory directory multiple />
            <input type="submit" />
        </form>
        <script></script>
    </body>
</html>
