* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.Main {
    margin: 0 auto;
    width: 480px;
    font-size: 20vmin;
}

.eva-heading {
    padding: 32px;
    margin: 100px auto;
    align-self: baseline;
    font-family: serif;
    color: white;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
}

.eva-heading > h1 {
    font-size: 500%;
}

.eva-heading > h2 {
    font-size: 300%;
}

.eva-heading__title {
    transform: scale(1, 1.5);
    line-height: 1.2em;
    letter-spacing: -0.03em;
}

.eva-heading__episode-number {
    font-family: sans-serif;
    font-size: 180%;
    transform: scale(1, 1.5);
    letter-spacing: -0.06em;
    margin: 10px 0 26px 0;
}

.eva-heading__episode-title {
    transform: scale(1, 1.3);
    font-size: 170%;
    line-height: 1em;
}

a {
    font-size: 29px;
    color: rgb(255, 255, 255);
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.text_input {
    padding: 10px;
    margin: 5px;
}

.error {
    height: 0;
    transition: 0.2s;
    overflow: hidden;
}
