@keyframes ripple {
    to {
        transform: scale(20);
        opacity: 0;
    }
}

.ripple-btn {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
    border: 0;
    font-size: 39px;
}

.ripple-btn:hover {
    filter: brightness(50%);
    background-color: rgb(255, 255, 255, 0.3);
    color: rgba(255, 255, 255);
}

.ripple-btn .ripple {
    border-radius: 100%;
    border: 5px solid rgb(66, 54, 134);
    position: absolute;
    transform: scale(0);
    padding: 20px;
    background-color: transparent;
    z-index: -1000;
    animation: ripple 0.4s linear;
}
